 .country {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    display: flex;
    align-items: center;
  }
  
  .country img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
  }
  
